<span id='audioPlayer'>
  <%= audioPlayer("Solve the puzzles. Read the story. Explore the map. Find your match. the world will never be the same again.") -%>
</span>
<br/>
<img src='/images/fusion/SolveThePuzzles.jpg' class='fusion' />
<br/>
<a href='http://www.youtube.com/watch?v=Dl2x43fhhrI'>Watch a screencast</a>, or <a href="/fusion">play again?</a>
