/config/*.sphinx.conf
/config/database.yml
/config/amazon_s3.yml
/config/locales/*.csv
/db/*.sqlite*
/log
/public/sitemap*
/public/system
/public/uploads
/public/photos
/public/stylesheets/*_defaults.css
/public/javascripts/*_defaults.js
/tmp
.DS_Store
*~
*.sw*
.bundle
/public/ckeditor_assets/*
